@model Sis_Escolar.Models.Calificacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Calificacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Estudiante" class="control-label"></label>
                <input asp-for="Estudiante" class="form-control" />
                <span asp-validation-for="Estudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asignatura" class="control-label"></label>
                <input asp-for="Asignatura" class="form-control" />
                <span asp-validation-for="Asignatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Not" class="control-label"></label>
                <input asp-for="Fecha_Not" class="form-control" />
                <span asp-validation-for="Fecha_Not" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
